{# include the head #}
{% include 'partials/head.html.twig' %}

    <body>
    	<input type="checkbox" id="navbtn">

      <section id="page">
			     <header id="header">
                     <a href="{{ base_url_absolute}}"><div id="logo"></div></a>
      			    <div id="title">
      				    <h3 class="header-title"><a href="{{ base_url_absolute}}">{{ config.site.title }}</a></h3>
      			    </div>
      			    <a class="print" onClick="setTimeout('window.print()', 500);">
                        <div class="print_icon">
                            <i class="fa fa-lg fa-print"></i>
                        </div>
      			   </a>
      			<div id="showSearchOverlay" class="search_icon">
      				<div class="menutransform3">
                        <i class="fa fa-lg fa-search"></i>
            	   </div>
      			</div>
      		</header>
      		<div class="clearfix"></div>
            
          <div class="printlogo"><img src="{{ theme_url }}/assets/images/layout/logo_vbs.png"></div>

      		<section id="content">
      			<div class="padding">
      				{% block content %}
                    
                    {% endblock %}
      				<div class="copywrapper">
      					&copy; 2016 | <a href="http://zem.ch" target="_blank" alt="Zentrum elektronische Medien">{{ "THEME_ZEMWIKI.ZEM"|t }}</a><br>
                        <div class="powered">
      					     <a href="{{ page.find('/changelog').url() }}" alt="Changelog">Changelog</a> | Powered by <a href="http://getgrav.org" target="_blank" alt="Grav Flat File CMS">Grav</a>
                        </div>
      				</div>
      			</div>
      			{% set progress = page.collection({'items':{'@taxonomy.category': 'backendanleitung'},'order': {'by': 'default', 'dir': 'asc'}}) %}
      			<div id="navigation">
      				{% if not progress.isFirst(page.path) %}
      				<a class="nav nav-prev" href="{{ progress.nextSibling(page.path).url }}"><i class="icon-navigation-arrows">&#59237;</i></a>
      				{% endif %}
      				{% if not progress.isLast(page.path) %}
      				<a class="nav nav-next" href="{{ progress.prevSibling(page.path).url }}"><i class="icon-navigation-arrows">&#59238;</i></a>
      				{% endif %}
      			</div>
      			<div class="clearfix"></div>
      		</section>
      		<div class="clearfix"></div>
      	</section>

      	<section id="menu-overlay">
      		<section id="menucontainer">
      			<div id="menu-navigation">
      				{% include 'partials/langswitcher.html.twig' %}
                    <br>
      				{# include the navigation #}
        			{% include 'partials/nav.html.twig' %}
        			<div class="clearfix"></div>
      			</div>
      		</section>
      		<a class="printmenu" href="javascript:window.print()">
      		<div class="printmenubutton">
              <i class="fa fa-lg fa-print"></i>
      		</div>
      		</a>
      	</section>

      	{# include the search overlay #}
        {% include 'partials/search_overlay.html.twig' %}
        
      	<div id="showOverlay" class="menu">
       		<label id="label" for="navbtn">
       			<div class="menutransform">
            		<div class="linie top left"></div>
           			<div class="linie top right"></div>
            		<div class="linie mid left"></div>
            		<div class="linie mid right"></div>
            		<div class="linie bottom left"></div>
            		<div class="linie bottom right"></div>
            	</div>
            </label>
        </div>
        
        {# include the scripts #}
        {% include 'partials/scripts.html.twig' %}
        
    </body>
</html>
